.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 700px;
    list-style-type:none;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cover {
    height: 50px;
    width: 50px;
}

.release {
    margin-right: 5px;
}