.track {
    border-bottom: 1px solid black;
    border-spacing: 0;
    min-width: 100%;
}

.dark {
    border-color: grey;
}

.cover {
    height: 100%;
    width: 70px;
    display: block;
}

/* .release {
    margin-right: 5px;
} */

.title {
    font-weight: bold;
}