.tracklist {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (max-width: 600px) {
    .tracklist {
        font-size: 15px;
    }
  }