.create_playlist_button {
    text-decoration: none;
    background-color: #1DB954;
    border-color: #1DB954;
    color: white;
    border-radius: 200px;
    padding: 10px 20px;
    line-height: 20px;
    font-weight: 700;
    outline: inherit;
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
  }