.dashboard {
  width: 80%;
  margin: 0 auto;

}

.options {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.options_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.options_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.description {
  width: 550px;
}

.dark {
  background-color: #121212;
  color: white;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 100%;
  }

  .options_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }

  .options_bottom > div{
    margin: 5px 0;
  }

  .description {
    width: 100%;
  }

  .tracklist {
    overflow: scroll;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .dashboard {
    width: 100%;

  }

  .description {
    width: 80%;
  }

  .edit_button {
    width: 200px;
    text-align: right;
    
  }

}
