.app {
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

.opener {
  font-size: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #1db954;
  color: white;
  margin-top: 0;
  height: 50px;
}

.header_dark {
  background-color: #121212;
}

.title {
  margin: 0;
  padding: 5px;
  margin-left: 20px;
}

.dark_button {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}


.authorize {
  margin-top: 500px;
  text-decoration: none;
  background-color: #1DB954;
  color: white;
  border-radius: 500px;
  padding: 14px 32px;
  line-height: 20px;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
}

.authorize:hover {
    background: #1DB954;
    border-color: #1DB954;
    transform: scale(1.1)
}

.dark {
  background-color: #1f1f1f;
  color: white;
}


@media only screen and (max-width: 600px) {
  .opener {
    font-size: 50px;
    margin-top: 30%;
  }
}

