.app {
  text-align: center;
}

.authorize {
  margin-top: 500px;
  text-decoration: none;
  background-color: #1DB954;
  color: white;
  border-radius: 500px;
  padding: 14px 32px;
  line-height: 20px;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
}

.create_playlist_button {
  text-decoration: none;
  background-color: #1DB954;
  border-color: #1DB954;
  color: white;
  border-radius: 200px;
  padding: 14px 32px;
  line-height: 20px;
  font-weight: 700;
  outline: inherit;
}