.button {
    font: inherit;
    border: 1px solid #1DB954;
    background: #1DB954;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    /* transition: all .2s ease-in-out;  */
  }
  
  .button:hover,
  .button:active {
    background: #1ED761;
    border-color: #1ED761;
    transform: scale(1.05)
  }
  
  .button:focus {
    outline: none;
 
  }

  .remove {
    border: 1px solid grey;
    background: transparent;
    color: grey;
  }

  .remove:hover,
  .remove:active {
    border: 1px solid grey;
    background: transparent;
  }

  .selector {
    border: none;
    background: transparent;
    color: black;
    font-weight: bold;
  }

  .selector:hover,
  .selector:active {
    border: none;
    font-weight: bold;
    background: transparent;
  }

  .selector_dark {
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
  }

  .selector_dark:hover,
  .selector_dark:active {
    border: none;
    font-weight: bold;
    background: transparent;
  }

  .search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px;
  }
  
  