.button {
    font: inherit;
    border: 1px solid #1DB954;
    background: #1DB954;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: all .2s ease-in-out; 
  }
  
  .button:hover,
  .button:active {
    background: #1DB954;
    border-color: #1DB954;
    transform: scale(1.05)
  }
  
  .button:focus {
    outline: none;
 
  }